In [14]:
import pandas as pd

df = pd.read_csv(r"C:\Users\boban\OneDrive\Desktop\web_scraping_basics\src\NitterSentimentAnalysis\all_users_tweets.csv")
df.head()

,profile_name,username,bio,location,website,join_date,followers_count,following_count,tweets_count,profile_image_url,...,created_at,lang,user_id_hashed,comment_count,retweet_count,like_count,is_reply,is_retweet,is_quote,urls
0,Geoffrey Hinton,geoffreyhinton,deep learning,NaN,NaN,NaN,28,143,518100,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2025-10-14 18:13:00,en,fef80054a121f531,138,231,1544,False,False,False,[]
1,Geoffrey Hinton,geoffreyhinton,deep learning,NaN,NaN,NaN,28,143,518100,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2025-10-10 17:16:00,en,fef80054a121f531,61,85,646,False,False,False,[]
2,Geoffrey Hinton,geoffreyhinton,deep learning,NaN,NaN,NaN,28,143,518100,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2025-08-11 02:45:00,en,fef80054a121f531,128,93,671,False,False,False,[]
3,Geoffrey Hinton,geoffreyhinton,deep learning,NaN,NaN,NaN,28,143,518100,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2025-06-08 10:58:00,en,fef80054a121f531,279,377,4607,False,False,False,[]
4,Geoffrey Hinton,geoffreyhinton,deep learning,NaN,NaN,NaN,28,143,518100,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2025-06-07 16:47:00,en,fef80054a121f531,119,183,1646,False,False,False,[]

In [15]:
df.shape

(1074, 22)

In [16]:
df.tail()

,profile_name,username,bio,location,website,join_date,followers_count,following_count,tweets_count,profile_image_url,...,created_at,lang,user_id_hashed,comment_count,retweet_count,like_count,is_reply,is_retweet,is_quote,urls
1069,Andrej Karpathy,karpathy,Building @EurekaLabsAI. Previously Director of...,Stanford,https://karpathy.ai/,NaN,1026,9816,1472772,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2023-07-23 15:52:00,en,b618269306c82a15,5,6,216,False,False,False,[]
1070,Andrej Karpathy,karpathy,Building @EurekaLabsAI. Previously Director of...,Stanford,https://karpathy.ai/,NaN,1026,9816,1472772,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2023-07-23 15:52:00,en,b618269306c82a15,5,16,487,False,False,False,[]
1071,Andrej Karpathy,karpathy,Building @EurekaLabsAI. Previously Director of...,Stanford,https://karpathy.ai/,NaN,1026,9816,1472772,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2023-07-23 15:52:00,en,b618269306c82a15,89,700,5040,False,False,False,[]
1072,Andrej Karpathy,karpathy,Building @EurekaLabsAI. Previously Director of...,Stanford,https://karpathy.ai/,NaN,1026,9816,1472772,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2023-07-20 19:24:00,en,b618269306c82a15,16,0,834,False,True,False,[]
1073,Andrej Karpathy,karpathy,Building @EurekaLabsAI. Previously Director of...,Stanford,https://karpathy.ai/,NaN,1026,9816,1472772,https://nitter.net/pic/pbs.twimg.com%2Fprofile...,...,2023-07-20 20:00:00,en,b618269306c82a15,112,32,2021,False,False,False,[]

In [18]:
import re

def clean_text(text):
    if pd.isna(text):
        return ""
    text = str(text)
    text = re.sub(r"http\S+|www.\S+", "", text)        # remove URLs
    text = re.sub(r"@[A-Za-z0-9_]+", "", text)         # remove mentions
    text = re.sub(r"[^A-Za-z0-9\s]", "", text)         # remove emojis/symbols
    text = text.lower().strip()                        # normalize
    return text

# Create clean_text column
df["clean_text"] = df["text"].apply(clean_text)

# Remove empty rows
df = df[df["clean_text"] != ""]

print("After cleaning:", df.shape)

After cleaning: (1051, 23)

In [19]:
df.drop_duplicates(subset=["tweet_id", "created_at"], keep="first", inplace=True)

In [20]:
df.drop_duplicates(subset=["text", "created_at"], keep="first", inplace=True)

In [21]:
df = df[
    (df["is_retweet"] == False) &
    (df["is_reply"] == False) &
    (df["is_quote"] == False)
]

In [22]:
df = df[df["lang"] == "en"]

In [23]:
df = df[df["text"].notna()]
df = df[df["text"].str.strip() != ""]

In [24]:
df.shape

(563, 23)

In [25]:
print("Cleaned shape:", df.shape)

Cleaned shape: (563, 23)

In [26]:
df.to_csv("cleaned_combined_tweets.csv", index=False)
print("Saved cleaned file: cleaned_combined_tweets.csv")

Saved cleaned file: cleaned_combined_tweets.csv